@import url('https://fonts.googleapis.com/css?family=Lora');
:root {
    --c-kupina: #471e39;
    --c-plava: #5c7da2;
    --c-tamna: #1e2131;
    --c-pozadinska: #f9f9f9;
    --c-zuta: #f2b557;
    --c-tekst: #f3f3ec;
    --c-shadow: #03091d4f;
}

body {
    overflow-x: hidden;
    font-family: 'Lora', sans-serif;
}

.navbar {
    color: #1e2131;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 0.1px;
}

.navbar-brand img {
    height: 2.3rem;
}

li {
    list-style-type: none;
}

.navbar-nav li {
    padding-right: .5rem;
}

.bg-light .navbar-light,
.navbar-nav,
.nav-link {
    color: #1e2131;
    padding-top: .8rem;
}


/* .navbar-light,
.navbar-nav,
.nav-link,
.active,
.navbar-light,
.navbar-nav, */

.active,
.nav-link:hover {
    color: #f2b557 !important;
}

.fa-home,
.fa-bed,
.fa-utensils {
    font-size: 1.3rem;
}

.home-inner img {
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    margin-top: 1rem;
}


/* .pozadinska_slika {
    background: url("../img/beograd/Hram_Svetog_Save_Backgraund.jpg");
    width: 100%;
    max-width: 100%;
} */

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 70%;
    color: #f2b557;
    font-weight: 900;
}

.caption h1 {
    font-weight: 400;
}

.btn-rezervacija {
    background-color: #f2b557 !important;
    color: #1e2131;
    border: 1px solid #f2b557;
}

.btn-rezervacija:hover,
.btn-rezervacija:active {
    background-color: #471e39 !important;
    border: 1px solid#471e39;
    color: #f0ca92 !important;
}

.btn-strana {
    background-color: #1e2131 !important;
    color: #f0ca92 !important;
    font-weight: 400;
    border: 1px solid #1e2131;
}

.btn-strana:hover,
.btn-strana:active {
    font-weight: 500;
    box-shadow: 5px 5px 10px#03091d4f;
    background-color: #471e39 !important;
    border: 1px solid #1e2131 !important;
}

.rozle {
    background: #f2b557;
    color: #1e2131;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.margina-top {
    margin-top: 2rem;
}

.img-fluid {
    box-shadow: 5px 5px 5px#03091d2f;
    border-radius: 2px;
    border: 10px solid #03091d5f;
}

.tamna {
    background: #471e39;
    color: #f9f9f9;
    padding-bottom: 1rem;
    border-radius: 6px;
}

.tamni-tekst {
    color: #1e2131;
}

.welcome {
    width: 100%;
    max-width: 100%;
    text-align: center;
}


/* .welcome hr {
    border-top: 2px solid #f9f9f9;
    /* margin-top: .3rem;
    margin-bottom: 1rem;} */


 .kontakt {
    background: #1e2131 !important;
    color: #f9f9f9;
    padding-bottom: 1rem;
    border-radius: 6px;
}
#ime, #prezime, #email{
    margin-right: 0.8rem;
    margin-left: 1rem;
}
#broj_ljudi, #vrsta_sobe, #comment{
    margin-left: 3.8rem;
    margin-right: 1.5rem;
}

/* media queris */
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 576px) {}

/* ---bootstrap pading fix---*/
[class*="col-"] {
    padding: 1.2rem;
}

/* Extra small(xs) devices (phones, 576px and down)
@media only screen and (max-width:576px) {...} 

Small devices(sm) (portrait tablets and large phones, 576px and up)
@media only screen and (min-width: 576px) {...} 

Medium devices(md) (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...} 

Large devices(lg) (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} 

Extra large devices(xl) (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */